.guide{
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-content{
        width: 100%;
        max-width: 450px;
    }
    &-heading{
        font-size: 36px;
        line-height: calc(50/36);
        margin-bottom: 20px;

    }
    &-btn{
        padding: 10px 40px;
    }
    &-text{
        line-height: calc(30/17);
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 735px){
    .guide{
        &-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
        &-content{
            margin-bottom: 80px;
        }
    }
}