.network{
    margin-top: 150px;
    &-header{
        margin-bottom: 130px;
    }
    &-heading{
        font-size: 35px;
        max-width: 383px;
        margin: 0 auto;
        text-align: center;
        line-height: calc(50/35);
        margin-bottom: 20px;
    }
    &-caption{
        max-width: 555px;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 735px){
    .network{
        margin-top: 150px;
        &-header{
            margin-bottom: 50px;
        }
    }
}
